@import "tailwindcss";

:root {
  --theme-primary: #285943;
  --theme-primary-hover: #2b7e55;
  --theme-secondary: #83a17d;
  --theme-background: #f5f8f3;
  --theme-surface: #ffffff;
  --theme-text: #263238;
  --theme-muted: #717171;
  --theme-border: #e5e7eb;
  --theme-accent: #6c9a78;
  --theme-font-family: var(--font-inter), sans-serif;
  --theme-radius: 8px;
}

[data-theme-scope="admin"] {
  --theme-primary: #285943;
  --theme-primary-hover: #2b7e55;
  --theme-secondary: #83a17d;
  --theme-background: #f5f8f3;
  --theme-surface: #ffffff;
  --theme-text: #263238;
  --theme-muted: #717171;
  --theme-border: #e5e7eb;
  --theme-accent: #6c9a78;
  --theme-icon: #3F7A60;
  --theme-icon-hover: #285943;
  --theme-font-family: var(--font-inter), sans-serif;
  --theme-radius: 8px;
  color-scheme: light;
}

@theme inline {
  --color-primary: var(--theme-primary);
  --color-primary-hover: var(--theme-primary-hover);
  --color-icon: var(--theme-icon);
  --color-icon-hover: var(--theme-icon-hover);

  --color-secondary: var(--theme-secondary);
  --color-background: var(--theme-background);
  --color-surface: var(--theme-surface);
  --color-text: var(--theme-text);
  --color-muted: var(--theme-muted);
  --color-border: var(--theme-border);
  --color-accent: var(--theme-accent);

  --font-sans: var(--theme-font-family);
  --radius-theme: var(--theme-radius);
}


body {
  margin: 0;
  background: var(--theme-surface);
  color: var(--theme-text);
  font-family: var(--theme-font-family), sans-serif;
}
body {
  -ms-overflow-style: none; /* IE / old Edge */
  scrollbar-width: none;    /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, new Edge */
  width: 0;
  height: 0;
}